<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading centered-heading">
                <h3 class="panel-title">Select an area of the application to view / edit settings</h3>
            </div>
            <div class="panel-body">
                <div class="row push-down">
                    <div class="col-md-4">
                        <div class="panel panel-info centered-heading">
                            <div class="panel-heading">
                                <h5 class="panel-title">HML</h5>
                            </div>
                            <div class="panel-body">
                                <h6 class="bottom-margin">Click to view / edit HML configuration</h6>
                                <button type="button" class="btn btn-info" data-ng-click="settingsCtrl.launchHml()">Launch</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-danger centered-heading">
                            <div class="panel-heading">
                                <h5 class="panel-title">FHIR</h5>
                            </div>
                            <div class="panel-body">
                                <h6 class="bottom-margin">Click to view / edit FHIR configuration</h6>
                                <button type="button" class="btn btn-danger" data-ng-click="settingsCtrl.launchFhir()">Launch</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-success centered-heading">
                            <div class="panel-heading">
                                <h5 class="panel-title">MIRING</h5>
                            </div>
                            <div class="panel-body">
                                <h6 class="bottom-margin">Click to view / edit MIRING configuration</h6>
                                <button type="button" class="btn btn-success" data-ng-click="settingsCtrl.launchMiring()">Launch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>