<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">HML Settings</h4>
            </div>
            <div class="panel-body">
                <div class="row centered-heading">
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">Reporting Center</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row centered-heading">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-link" data-ng-click="hmlSettingsCtrl.openTerminology('reportingCenters')">Terminology</button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 centered-heading">
                                        <button type="button" class="btn btn-success btn-outline-success inner-panel-footer-button" data-ng-click="hmlSettingsCtrl.launchReportingCenter()">
                                            <i class="glyphicon glyphicon-pencil button-glyphicon" />Modify
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">HML ID</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row centered-heading">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-link" data-ng-click="hmlSettingsCtrl.openTerminology('hmlId')">Terminology</button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 centered-heading">
                                        <button type="button" class="btn btn-success btn-outline-success inner-panel-footer-button" data-ng-click="hmlSettingsCtrl.launchHmlId()">
                                            <i class="glyphicon glyphicon-pencil button-glyphicon" />Modify
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">Typing Test Names</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row centered-heading">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-link" data-ng-click="hmlSettingsCtrl.openTerminology('typingTestNames')">Terminology</button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 centered-heading">
                                        <button type="button" class="btn btn-success btn-outline-success inner-panel-footer-button" data-ng-click="hmlSettingsCtrl.launchTypingTestNames()">
                                            <i class="glyphicon glyphicon-pencil button-glyphicon" />Modify
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row centered-heading">
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">Samples</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row centered-heading">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-link" data-ng-click="hmlSettingsCtrl.openTerminology('samples')">Terminology</button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 centered-heading">
                                        <button type="button" class="btn btn-success btn-outline-success inner-panel-footer-button" data-ng-click="hmlSettingsCtrl.launchSamples()">
                                            <i class="glyphicon glyphicon-pencil button-glyphicon" />Modify
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">Properties</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row centered-heading">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-link" data-ng-click="hmlSettingsCtrl.openTerminology('properties')">Terminology</button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 centered-heading">
                                        <button type="button" class="btn btn-success btn-outline-success inner-panel-footer-button" data-ng-click="hmlSettingsCtrl.launchProperties()">
                                            <i class="glyphicon glyphicon-pencil button-glyphicon" />Modify
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">Versions</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row centered-heading">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-link" data-ng-click="hmlSettingsCtrl.openTerminology('versions')">Terminology</button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 centered-heading">
                                        <button type="button" class="btn btn-success btn-outline-success inner-panel-footer-button" data-ng-click="hmlSettingsCtrl.launchVersions()">
                                            <i class="glyphicon glyphicon-pencil button-glyphicon" />Modify
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>