<div class="modal-header">
    <button type="modal" class="close" aria-hidden="true" data-ng-click="haploidAddEditCtrl.cancel()">&times;</button>
    <h3 class="modal-title">{{ haploidAddEditCtrl.edit ? 'Edit' : 'Add' }} Haploid</h3>
</div>
<div class="modal-body">
    <toaster-container toaster-options="{ 'close-button': true, 'limit': 1, 'tap-to-dismiss': true, 'toaster-id': 1 }"></toaster-container>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ haploidAddEditCtrl.edit ? 'Edit' : 'Add' }} Gl String</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form">
                                <form name="haploidAddEditCtrl.inputForm">
                                    <div class="form-group" data-ng-class="{ 'has-error': haploidAddEditCtrl.inputForm.locus.$invalid && haploidAddEditCtrl.formSubmitted }">
                                        <label for="locus" class="control-label">Locus:</label>
                                        <input id="locus" name="locus" type="text" class="form-control input-sm" data-ng-model="haploidAddEditCtrl.haploid.locus" placeholder="Locus" required />
                                        <div class="help-block" data-ng-show="haploidAddEditCtrl.inputForm.locus.$error.required && haploidAddEditCtrl.formSubmitted">
                                            <small>Locus is Required</small>
                                        </div>
                                    </div>
                                    <div class="form-group" data-ng-class="{ 'has-error': haploidAddEditCtrl.inputForm.method.$invalid && haploidAddEditCtrl.formSubmitted }">
                                        <label for="method" class="control-label">Method:</label>
                                        <input id="method" name="method" type="text" class="form-control input-sm" data-ng-model="haploidAddEditCtrl.haploid.method" placeholder="Method" required />
                                        <div class="help-block" data-ng-show="haploidAddEditCtrl.inputForm.method.$error.required && haploidAddEditCtrl.formSubmitted">
                                            <small>Method is Required</small>
                                        </div>
                                    </div>
                                    <div class="form-group" data-ng-class="{ 'has-error': haploidAddEditCtrl.inputForm.type.$invalid && haploidAddEditCtrl.formSubmitted }">
                                        <label for="type" class="control-label">Type:</label>
                                        <input id="type" name="type" type="text" class="form-control input-sm" data-ng-model="haploidAddEditCtrl.haploid.type" placeholder="Type" required />
                                        <div class="help-block" data-ng-show="haploidAddEditCtrl.inputForm.type.$error.required && haploidAddEditCtrl.formSubmitted">
                                            <small>Type is Required</small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary modal-footer-button" data-ng-click="haploidAddEditCtrl.add(haploidAddEditCtrl.inputForm)">{{ haploidAddEditCtrl.edit ? 'Edit' : 'Add' }}</button>
            <button type="button" class="btn btn-danger modal-footer-button" data-ng-click="haploidAddEditCtrl.close()">Close</button>
        </div>
    </div>
</div>