<div class="modal-header">
    <button type="modal" class="close" aria-hidden="true" data-ng-click="subAmplificationAddEditCtrl.cancel()">&times;</button>
    <h3 class="modal-title">{{ subAmplificationAddEditCtrl.edit ? 'Edit' : 'Add' }} Sub-Amplification</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ subAmplificationAddEditCtrl.edit ? 'Edit' : 'Add' }} Sub-Amplification Information</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form">
                                <form name="subAmplificationAddEditCtrl.inputForm">
                                    <div class="form-group" data-ng-class="{ 'has-error': subAmplificationAddEditCtrl.inputForm.registeredName.$invalid && subAmplificationAddEditCtrl.formSubmitted }">
                                        <label for="registeredName" class="control-label">Center Code:</label>
                                        <input id="registeredName" name="registeredName" type="text" class="form-control input-sm" data-ng-model="subAmplificationAddEditCtrl.subAmplification.registeredName" placeholder="Registered Name" required />
                                        <div class="help-block" data-ng-show="subAmplificationAddEditCtrl.inputForm.registeredName.$error.required && subAmplificationAddEditCtrl.formSubmitted">
                                            <small>Registered Name is required.</small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading" data-ng-click="subAmplificationAddEditCtrl.togglePanel('sequence')">
                                    <h5 class="panel-title">Sequence</h5>
                                </div>
                                <div class="panel-body" data-ng-show="subAmplificationAddEditCtrl.expandedPanels.sequence">
                                    <dynamic-controller templateurl="{{ subAmplificationAddEditCtrl.panelData.sequence.templateUrl }}" controller="{{ subAmplificationAddEditCtrl.panelData.sequence.controller }}"
                                        controlleras="{{ subAmplificationAddEditCtrl.panelData.sequence.controllerAs }}"></dynamic-controller>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary modal-footer-button" data-ng-click="subAmplificationAddEditCtrl.add(subAmplificationAddEditCtrl.inputForm)">{{ subAmplificationAddEditCtrl.edit ? 'Edit' : 'Add' }}</button>
            <button type="button" class="btn btn-danger modal-footer-button" data-ng-click="subAmplificationAddEditCtrl.close()">Close</button>
        </div>
    </div>
</div>