<div class="modal-header">
    <button type="modal" class="close" aria-hidden="true" data-ng-click="collectionMethodsAddEditCtrl.cancel()">&times;</button>
    <h3 class="modal-title">{{ collectionMethodsAddEditCtrl.edit ? 'Edit' : 'Add' }} Collection Method</h3>
</div>
<div class="modal-body">
    <toaster-container toaster-options="{ 'close-button': true, 'limit': 1, 'tap-to-dismiss': true, 'toaster-id': 1 }"></toaster-container>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ collectionMethodsAddEditCtrl.edit ? 'Edit' : 'Add' }} Collection Method Information</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form">
                                <form name="collectionMethodsAddEditCtrl.inputForm">
                                    <div class="form-group">
                                        <label for="maxQuery" class="control-label">Maximum Query Results:</label>
                                        <select id="maxQuery" data-ng-options="numResults.text for numResults in collectionMethodsAddEditCtrl.resultsPerPage track by numResults.number"
                                                data-ng-model="collectionMethodsAddEditCtrl.maxQuery" class="form-control input-sm" />
                                    </div>
                                    <div class="form-group" data-ng-class="{ 'has-error': collectionMethodsAddEditCtrl.inputForm.name.$invalid && collectionMethodsAddEditCtrl.formSubmitted }">
                                        <label for="name" class="control-label">Name:</label>
                                        <input id="name" name="name" type="text" class="form-control input-sm" data-ng-model="collectionMethodsAddEditCtrl.selectedCollectionMethodName" placeholder="Name"
                                               uib-typeahead="collectionMethods.name for collectionMethods in collectionMethodsAddEditCtrl.getCollectionMethodsByName($viewValue)" data-ng-change="collectionMethodsAddEditCtrl.collectionMethodsChange()"
                                               typeahead-on-select="collectionMethodsAddEditCtrl.selectCollectionMethod($item)" autocomplete="off" required />
                                        <div class="help-block" data-ng-show="collectionMethodsAddEditCtrl.inputForm.name.$error.required && collectionMethodsAddEditCtrl.formSubmitted">
                                            <small>Search by Name</small>
                                        </div>
                                    </div>
                                    <div class="form-group" data-ng-class="{ 'has-error': collectionMethodsAddEditCtrl.inputForm.description.$invalid && collectionMethodsAddEditCtrl.formSubmitted }">
                                        <label for="description" class="control-label">Description:</label>
                                        <input id="description" name="description" type="text" class="form-control input-sm" data-ng-model="collectionMethodsAddEditCtrl.selectedCollectionMethodDescription" placeholder="Collection Method"
                                               uib-typeahead="collectionMethods.description for collectionMethods in collectionMethodsAddEditCtrl.getCollectionMethodsByDescription($viewValue)" data-ng-change="collectionMethodsAddEditCtrl.collectionMethodsChange()"
                                               typeahead-on-select="collectionMethodsAddEditCtrl.selectCollectionMethod($item)" autocomplete="off" required />
                                        <div class="help-block" data-ng-show="collectionMethodsAddEditCtrl.inputForm.description.$error.required && collectionMethodsAddEditCtrl.formSubmitted">
                                            <small>Search by Description</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" data-ng-model="collectionMethodsAddEditCtrl.autoAdd" />
                                        <small>Automatically route to add / edit form on no results</small>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary modal-footer-button" data-ng-click="collectionMethodsAddEditCtrl.add(collectionMethodsAddEditCtrl.inputForm)">{{ collectionMethodsAddEditCtrl.edit ? 'Edit' : 'Add' }}</button>
            <button type="button" class="btn btn-danger modal-footer-button" data-ng-click="collectionMethodsAddEditCtrl.close()">Close</button>
        </div>
    </div>
</div>