<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="centered-heading">Welcome to HML to FHIR Conversion Tool!</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <h5 class="centered-heading">Please select one of the following entry points to begin converting your HML document</h5>
          <div class="row button-row">
            <div class="col-md-4">
              <button type="button" class="btn btn-primary heading-button" data-ng-click="mainCtrl.launchFileConverter()">Convert HML File</button>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-primary heading-button" data-ng-click="mainCtrl.launchGuidedUiConverter()">Guided UI Conversion</button>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-info heading-button" data-ng-click="mainCtrl.launchSettings()">Converter Settings</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <h6 class="pull-right">For instructions, please visit: <a href="/#">Help with conversions</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
